.fslightbox-source {
  position: relative;
  margin: auto;
  backface-visibility: hidden;
  width: 100%;
  height: 90%;
}

.fslightbox-youtube {
  position: relative;
  margin: auto;
  backface-visibility: hidden;
  width: 100%;
  height: 90%;
  border: 0;
}
