$font-family: "Roboto", sans-serif;
$tooltip-text-color: #999999;
$tooltip-background-color: transparent;
$tooltip-margin: 1;
$tooltip-arrow-size: 0;

.Tooltip-Wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.Tooltip-Tip {
  position: absolute;
  border-radius: 4px;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);
  padding: 6px;
  color: $tooltip-text-color;
  font-family: $font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 0.615rem;
  text-align: center;
  line-height: 0.75rem;
  line-height: 1;
  white-space: nowrap;
  background: #ffffff !important;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.199) !important;
  border-radius: 6px !important;
}

.Tooltip-Tip::before {
  content: " ";
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 0;
  margin-left: 0;
}

.Tooltip-Tip.top {
  top: -1px;
}

.Tooltip-Tip.top::before {
  top: 100%;
  border-top-color: $tooltip-background-color;
}

.Tooltip-Tip.right {
  left: calc(100% + #{$tooltip-margin});
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.Tooltip-Tip.right::before {
  left: calc(#{$tooltip-arrow-size} * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: tooltip-background-color;
}

.Tooltip-Tip.bottom {
  bottom: calc(#{$tooltip-margin} * -1);
}

.Tooltip-Tip.bottom::before {
  bottom: 100%;
  border-bottom-color: $tooltip-background-color;
}

.Tooltip-Tip.left {
  left: auto;
  right: calc(100% + #{$tooltip-margin});
  top: 50%;
  transform: translateX(0) translateY(-50%);
}

.Tooltip-Tip.left::before {
  left: auto;
  right: calc(#{$tooltip-arrow-size} * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: $tooltip-background-color;
}
